
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.redirect {
  text-decoration: none;
  color: #00c9ff;
  text-shadow: 1px 1px 1px #000000;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.first {
  background-image: url(../assets/images/closeup-green.png);
}

.second {
  background-image: url(../assets/images/mockup-devices.png);
  height: 72%;
}

.three {
  background-image: url(../assets/images/mockup-red.png);
  height: 72%;
}

.four {
  background-image: url(../assets/images/mockup-2.png);
  height: 72%;
}

.right-heading {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-align: right;
}

.right-heading h1, .right-heading h2 {
  font-weight: 300;
  text-shadow: 2px 2px 2px #00c9ff;
}

.right-heading h1 {
  font-size: 4em;
  line-height: 30%;
}
.right-heading p {
  color: #666666;
  font-size: 0.9em;
}
.band {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.band img {
  height: 90px;
  padding: 0px 30px;
}

.band h1 {
  font-family: Helvetica;
  font-weight: 300;
  text-align: center;
  font-size: 275%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub-caption {
  background: rgba(0, 0, 0, 0.4);
  font-family: Helvetica;
  width: 50%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 160%;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.sub-caption p {
  text-align: center;
}

.left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
footer a {
  margin: 0px 5px;
  color: #00c9ff;
  text-decoration: none;
}



@media(max-width: 868px) {
  .right-heading h1 {
    font-size: 3em;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    align-content: center;
  }


}
